<a href="https://colab.research.google.com/github/calebwarner25/MIS2800/blob/main/Warner_Prep3_Scouting_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Database connected successfully

In [11]:
# Step 1: Import SQLite & Connect to Database
import sqlite3

# Connect to (or create) the database
conn = sqlite3.connect('NFL_Scouting.db')

# Create a cursor object
cursor = conn.cursor()

print("Database connected successfully")


# Step 2: Create the Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS scouting_stats (
    team_name TEXT,
    city TEXT,
    wins INTEGER,
    points_per_game REAL
)
""")

conn.commit()
print("Table created successfully")


# Step 3: Insert Sample Data
cursor.execute("""
INSERT INTO scouting_stats (team_name, city, wins, points_per_game)
VALUES
    ('Chiefs', 'Kansas City', 11, 29.2),
    ('Bills', 'Buffalo', 10, 26.5),
    ('Cowboys', 'Dallas', 12, 27.8),
    ('Jets', 'New York', 7, 18.6)
""")

conn.commit()
print("Data inserted successfully")


# Step 4: Filter Teams Averaging More Than 24 Points Per Game
cursor.execute("""
SELECT * FROM scouting_stats
WHERE points_per_game > 24
""")

results = cursor.fetchall()
print("Teams averaging more than 24 points per game:")
for row in results:
    print(row)


# Step 5: Sort Teams by Wins (Descending)
cursor.execute("""
SELECT * FROM scouting_stats
ORDER BY wins DESC
""")

results = cursor.fetchall()
print("Teams sorted by wins (highest to lowest):")
for row in results:
    print(row)


# Step 6: Combo Challenge
cursor.execute("""
SELECT * FROM scouting_stats
WHERE wins > 5
ORDER BY city ASC
""")

results = cursor.fetchall()
print("Teams with more than 5 wins, sorted by city:")
for row in results:
    print(row)


# Step 7: Save and Close
conn.close()
print("Database connection closed")

Database connected successfully
Table created successfully
Data inserted successfully
Teams averaging more than 24 points per game:
('Chiefs', 'Kansas City', 11, 29.2)
('Bills', 'Buffalo', 10, 26.5)
('Cowboys', 'Dallas', 12, 27.8)
('Chiefs', 'Kansas City', 11, 29.2)
('Bills', 'Buffalo', 10, 26.5)
('Cowboys', 'Dallas', 12, 27.8)
Teams sorted by wins (highest to lowest):
('Cowboys', 'Dallas', 12, 27.8)
('Cowboys', 'Dallas', 12, 27.8)
('Chiefs', 'Kansas City', 11, 29.2)
('Chiefs', 'Kansas City', 11, 29.2)
('Bills', 'Buffalo', 10, 26.5)
('Bills', 'Buffalo', 10, 26.5)
('Jets', 'New York', 7, 18.6)
('Jets', 'New York', 7, 18.6)
Teams with more than 5 wins, sorted by city:
('Bills', 'Buffalo', 10, 26.5)
('Bills', 'Buffalo', 10, 26.5)
('Cowboys', 'Dallas', 12, 27.8)
('Cowboys', 'Dallas', 12, 27.8)
('Chiefs', 'Kansas City', 11, 29.2)
('Chiefs', 'Kansas City', 11, 29.2)
('Jets', 'New York', 7, 18.6)
('Jets', 'New York', 7, 18.6)
Database connection closed